<footer class="bg-light text-center text-lg-start mt-auto">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="">FitData</h5>
                <p>Te brindamos los datos que necesitas para mejorar tu salud y bienestar. Creemos en la
                    importancia de entender tus medidas corporales para tomar decisiones informadas sobre tu
                    estilo de vida y dieta.</p>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Navegación</h5>
                <ul class="list-unstyled mb-0 footer-links">
                    <% if (user) { %>
                    <li><a href="/misdatos" class="text-dark text-decoration-none">Tu Cuenta</a></li>
                    <li><a href="/panelcontrol" class="text-dark text-decoration-none">Inicio</a></li>
                    <li><a href="/valoracion" class="text-dark text-decoration-none">Valoración Nutricional</a></li>
                    <li><a href="/pruebaEsfuerzo" class="text-dark text-decoration-none">Prueba de Esfuerzo</a></li>
                    <li><a href="/blog" class="text-dark text-decoration-none">Blog</a></li>

                    <% } else { %>
                        <li><a href="/" class="text-dark text-decoration-none">Inicio</a></li>
                        <li><a href="/valoracion" class="text-dark text-decoration-none">Valoración Nutricional</a></li>
                        <li><a href="/pruebaEsfuerzo" class="text-dark text-decoration-none">Prueba de Esfuerzo</a></li>
                        <li><a href="/blog" class="text-dark text-decoration-none">Blog</a></li>
                    <% } %>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Acerca de Nosotros</h5>
                <ul class="list-unstyled mb-0 footer-links">
                    <li><a href="/aboutUs" class="text-dark text-decoration-none">¿Quienes somos?</a></li>
                    <li><a href="/privacyPolicy" class="text-dark text-decoration-none">Politica de Privacidad</a></li>
                    <li><a href="/politica-de-cookies" class="text-dark text-decoration-none">Politica de cookies</a></li>
                    <li><a href="/avisoLegal" class="text-dark text-decoration-none">Aviso Legal</a></li>
                    <!-- <li><a href="#!" class="text-dark text-decoration-none">Ayuda</a></li> -->
                </ul>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contactanos</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="/contact" class="text-dark text-decoration-none">Contactanos</a></li>
                    <li><a href="mailto:info@fitdata.online" class="text-dark text-decoration-none">info@fitdata.online
                    </a>
                    </li>
                    <li><a href="tel:3183348608" class="text-dark text-decoration-none">Teléfono</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white d-flex align-items-center justify-content-center">
        <ul class="list-unstyled list-inline footer-links">
            <li class="list-inline-item">
                <a href="#" class="text-light enlace text-decoration-none">
                    © FitData 2024.
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#" class="text-light enlace ">
                    <i class="fab fa-facebook icono"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#" class="text-light enlace">
                    <i class="fab fa-instagram icono"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#" class="text-light enlace">
                    <i class="fab fa-youtube icono"></i>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="#" class="text-light enlace">
                    <i class="fab fa-twitter icono"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>