<nav class="fixed-top navbar navbar-expand-lg navbar-light bg-light fs-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FitData</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FitData</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/valoracion">Valoración Nutricional</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pruebaEsfuerzo">Prueba de Esfuerzo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                </ul>

                <div class="d-flex">
                    <a class="btn btn-outline-primary me-2 fs-5" type="button" href="/login">Inicia Sesión</a>
                    <a class="btn btn-primary fs-5" type="button" href="/register">Registrate</a>
                </div>
            </div>
        </div>
    </div>
</nav>
