<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
    <title>Valoraci칩n Nutricional</title>
</head>

<body>
    <div class="container-fluid d-flex flex-column min-vh-100" id="get">
        <%- include('navbar',{ user: user }) %>
            <main class="flex-grow-1 mt-5">
                <div class="container mt-3">
                    <section class="">
                        <h1 class="fs-1 text-center p-3" style="color: #137a8b">쯈u칠 es el GET?</h1>
                        <p class="fs-4 p-4"> El gasto energ칠tico total (GET) representa la cantidad total de energ칤a que
                            una
                            persona consume en un d칤a promedio. Este valor es crucial porque <b>indica</b> cu치ntas
                            <b>calor칤as</b> debe
                            <b>ingerir</b> una persona <b>diariamente</b> para mantener su peso actual, perder peso
                            o ganar peso,<b>seg칰n sus objetivos.</b> Comprender el GET es fundamental para dise침ar
                            dietas y programas
                            de ejercicio que ayuden a alcanzar metas de salud y condici칩n f칤sica.
                        </p>
                    </section>

                    <section class="">
                        <h2 class="fs-1 text-center pt-3" style="color: #0db7c4">Calcula tu GET</h2>
                        <p class="fs-4 text-center p-4">Para calcular tu GET ingresa los siguientes datos:
                        </p>
                    </section>

                    <form id="get-form" class="row ms-5 p-3 rounded" action="" method="" autocomplete="off">
                        <div class="col-md-6">
                            <section class="">

                                <p class="text-start fs-4"><b>Selecciona tu Sexo:</b></p>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="genero" value="mujer">
                                    <label class="form-check-label fs-4">Femenino</label>
                                </div>

                                <div class="form-check pb-3 pt-2">
                                    <input class="form-check-input" type="radio" name="genero" value="hombre">
                                    <label class="form-check-label fs-4">Masculino</label>
                                </div>

                            </section>

                            <section class="fs-4">
                                <div class="">
                                    <label class="form-label" for="talla"><b>Talla en Cm:</b></label>
                                    <input class="form-control form-control-lg" type="number" id="talla"
                                        placeholder="Ej. 170cm" min="2" maxlength="3" pattern="^[0-9]+"
                                        oninput="limitarNumero(this, 3)">
                                    <p id="errorMensajeTalla" style="color: crimson;"></p>
                                </div>
                                <div class="">
                                    <label class="form-label" for="peso"><b>Peso en Kg:</b></label>
                                    <input class="form-control form-control-lg" type="number" id="peso"
                                        placeholder="Ej. 60kg" min="2" maxlength="2" pattern="^[0-9]+"
                                        oninput="limitarNumero(this, 2)">
                                    <p id="errorMensajePeso" style="color: crimson;"></p>
                                </div>
                                <div class="">
                                    <label class="form-label" for="edad"><b>Edad en a침os:</b></label>
                                    <input class="form-control form-control-lg" type="number" id="edad"
                                        placeholder="Ej. 25" min="1" maxlength="2" pattern="^[0-9]+"
                                        oninput="limitarNumero(this, 2)">
                                    <p id="errorMensajeEdad" style="color: crimson;"></p>
                                </div>
                            </section>
                        </div>

                        <div class="col-md-6 ps-5">
                            <section class="">
                                <h2 class="fs-4 text-start fw-bold">Factor de la actividad F칤sica</h2>
                                <section class="">
                                    <p class="fs-5 ">De las siguientes opciones elige cu치ntas
                                        veces
                                        por
                                        semana practicas deporte y/o actividad f칤sica</p>
                                    <section class="">
                                        <div class="form-check p-3">
                                            <input class="form-check-input" type="radio" name="factorActividad"
                                                value="Menos de 3 horas semanales">
                                            <label class="fs-5  form-check-label">Menos de 3 horas semanales</label>
                                        </div>
                                        <div class="form-check p-3">
                                            <input class="form-check-input" type="radio" name="factorActividad"
                                                value="3 Horas semanales">
                                            <label class="fs-5 form-check-label">3 Horas semanales</label>
                                        </div>
                                        <div class="form-check p-3">
                                            <input class="form-check-input" type="radio" name="factorActividad"
                                                value="6 Horas semanales">
                                            <label class="fs-5 form-check-label">6 Horas semanales</label>
                                        </div>
                                        <div class="form-check p-3">
                                            <input class="form-check-input" type="radio" name="factorActividad"
                                                value="4-5 horas Diarias">
                                            <label class="fs-5 form-check-label">4-5 horas Diarias</label>
                                        </div>
                                    </section>
                                </section>
                            </section>
                        </div>

                        <div class="col ms-4 rounded">
                            <span>
                                <p></p> <!-- en este 游녣 parrafo se dibuja el error desde JS -->
                                <p id="opcionSeleccionada"></p>
                                <div class="lh-lg col text-center fs-2" id="resultGet"></div>
                                <p id="errorGet"></p>
                            </span>
                        </div>

                        <div class="text-center pt-3">
                            <button type="submit" class="btn btn-primary fs-4" id="mostrarSeleccion">Calcular
                                GET</button>
                        </div>
                    </form>
                    <hr class="my-4 border border-primary">

                    <section class="mt-5">
                        <h2 class="text-center p-3 fs-1" style="color: #0db7c4">Requerimiento de Macronutrientes Diario
                        </h2>
                        <p class="fs-4 lh-base p-3"> Ahora que conoces tu GET podr치s calcular tu requerimiento
                            de macronutrientes diario en gramos, distribuidos en: carbohidratos, proteinas y grasas.
                            <br>Selecciona una de las siguientes opciones seg칰n sea tu caso:
                        </p>
                        <form id="macro-form" action="" class="row ms-5 p-3 rounded" method="" autocomplete="off">

                            <section class="d-flex justify-content-center">

                                <div class="form-check d-inline-block me-5 ">
                                    <input class="form-check-input" type="radio" name="Deportista" value="Deportista">
                                    <label class="fs-4 form-check-label">Deportista</label>
                                </div>

                                <div class="form-check d-inline-block me-3">
                                    <input class="form-check-input" type="radio" name="Deportista"
                                        value="No deportista">
                                    <label class="fs-4 form-check-label">No deportista</label>
                                </div>
                            </section>

                            <div class="col ms-4 rounded">
                                <span>
                                    <p></p> <!-- en este 游녣 parrafo se dibuja el error desde JS -->
                                    <p class="" id="opcionSeleccionada"></p>
                                    <div class="lh-lg col text-center fs-2" id="resultMacro"></div>
                                    <p id="errorMacro"></p>
                                </span>
                            </div>

                            <div class="text-center p-3">
                                <button type="submit" class="btn btn-primary fs-4">Calcular Macronutrientes</button>
                            </div>
                        </form>

                        <hr class="my-4 border border-primary">

                        <section class="">
                            <p class="p-3 text-center fs-4">En este 游녤 <a class="fs-4 text-primary"
                                    href="/blog">LINK</a> podr치s obtener m치s informaci칩n acerca de los alimentos que
                                puedes consumir en tu dieta 游볫 </p>
                        </section>
                    </section>
                    </section>

                    <!-- Bot칩n "Volver arriba" -->
                    <section class="scroll">
                        <a id="scroll-to-top" href="#" class="back-to-top" role="button">
                            <i class="bi bi-arrow-up-circle-fill"></i></a>
                    </section>
                </div>
            </main>
            <%- include('footer',{ user: user }) %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/52b9ec387c.js" crossorigin="anonymous"></script>
    <script src="/public/js/valnut.js"></script>
    <!-- <script type="module" src="/public/js/datoscombinados.js"></script> -->

</body>

</html>